h1{
    text-align: center;
    color: #1DACFF;
}

.container-form{
    justify-content: center;
    align-items: center;
}

label{
    font-size: 25px;
}
form{
    display: block;
    justify-content: center;
    align-content: center;

}

.btn{
    font-size: 20px;
    box-shadow: 4px 4px 8px 1px #1DACFF, -4px -4px 8px 1px #C1FF72;
    background-color: white;
    
}


.form-check-label{
    font-size: 15px;
}

a{
    color: white;
    margin-left: 10px;
    font-size: 20px;
}

.brand img{
    width: 15%;
}

