h1{
    text-align: center;
    color: #1DACFF;
    margin-top: 20px;
    font-size: 50px;
}

p{
    text-align: center;
    margin-bottom: 50px;
    color: #E6209A;
    font-size: 20px;
}

.container{
    box-shadow: 4px 4px 8px 1px #1DACFF, -4px -4px 8px 1px #E6209A;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
}