h1{
    text-align: center;
    color: #1DACFF;
    margin-top: 20px;
    font-size: 50px;
}

p{
    text-align: center;
    margin-bottom: 50px;
    color: #C1FF72;
    font-size: 20px;
}

.container{
    box-shadow: 4px 4px 8px 1px #1DACFF, -4px -4px 8px 1px #C1FF72;
    justify-content: center;
    padding: 100px;
    border-radius: 40px;
}